* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.canotaje {
  background-image: url("../assets/img/canotaje/canotaje-1.png");
  background-position: center;
  background-size: cover;
  filter: opacity(50%);
}

.remo {
  background-image: url("../assets/img/remo/remo-1.png");
  background-position: center;
  background-size: cover;
  filter: opacity(50%);
}

.tria-aventura {
  background-image: url("../assets/img/triaaventura/triaaventura-1.png");
  background-position: center;
  background-size: cover;
  filter: opacity(50%);
}

.nuestro-club {
  background-image: url("../assets/img/club/1.png");
  background-position: center;
  background-size: cover;
  filter: opacity(50%);
}

header div {
  height: 96px;
  background: linear-gradient(90deg, rgb(152, 216, 170) 0%, rgb(247, 208, 96) 50%, rgb(25, 167, 206) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
header div h1 {
  font-size: 40px;
  color: #FFF;
  font-weight: 700;
}
header div .fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
header div .logo {
  width: 100px;
}
header ul {
  display: flex;
}
header nav ul li {
  font-size: 30px;
  padding: 10px 0;
}
header nav ul li a {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: 700;
}

main {
  background-color: #98D8AA;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
main h2 {
  font-size: 30px;
  padding: 15px 0;
  color: #FFF;
  font-weight: 700;
}
main .titulo-home {
  padding-top: 22px;
  line-height: 1;
}
main section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0;
}
main section div {
  padding: 12px;
  border: 2px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: transform 0.8s;
}
main section div:hover {
  transform: rotate(360deg);
}
main p {
  color: #FFF;
  font-weight: 300;
  padding: 0 10px;
}
main .canotaje-div,
main .nuestro-club-div,
main .remo-div,
main .tria-aventura-div {
  text-align: center;
  background-color: #98D8AA;
}
main .canotaje-div > img,
main .nuestro-club-div > img,
main .remo-div > img,
main .tria-aventura-div > img {
  padding: 20px 0;
}
main .comision-container {
  color: #FFF;
  display: flex;
  justify-content: space-evenly;
}
main .comision-container div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f7d060;
  color: #FFF;
}
footer h3 {
  padding-bottom: 20px;
  font-weight: 700;
}
footer a {
  border: 2px solid #FFF;
  padding: 10px;
  margin: 0 10px;
  font-weight: 600;
}
footer a:hover {
  background-color: #f1c850;
  color: #FFF;
  border: 2px solid #FFF;
}

@media (min-width: 768px) {
  nav ul li {
    padding: 40px 0;
  }
  h2 {
    font-size: 36px;
  }
  .titulo-home {
    padding-top: 46px;
  }
  .redes-sociales-items {
    font-size: 26px;
    padding: 24px;
  }
  footer {
    padding: 40px;
  }
  footer h3 {
    font-size: 36px;
    padding-bottom: 34px;
  }
  footer a {
    padding: 16px;
    font-size: 26px;
  }
}
@media (min-width: 1400px) {
  nav ul li {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
